API_KEY=8904a5a5-24f1-45a1-be87-2984f703ed19
NODE_ENV=development
PORT=3000
# Docker
MONGO_URI=mongodb://catalog-registry-mongodb:27017/catalog-registry
# Localhost
# MONGO_HOST=localhost
API_URL=http://localhost:3000/v1
JOB_TIMEZONE="Europe/Paris"

# Allows skipping of the auto synchronization to the PTX Reference Models (true/false)
SKIP_SYNC_CRON=false